<div class="container">
<div class="accordion" id="accordionPanelsStayOpenExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
       PFIZER
      </button>
    </h2>

    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
      <div class="accordion-body">
        <h3>COVID19 CERTIFICATE</h3>
        <h3>PFIZER</h3>
        <br>
        <h6>Date:</h6>
        <h6>Time:</h6>
        <br>
        <br>
        <h5>RESULTS</h5>
        <p>Confirmed</p>
        <br>
        <br>
        <h5>VACCINE TYPE</h5>
        <p>PCR</p>
        <br>
        <br>
        <h5>FACILITY</h5>
        <p>Broadway Medical Practice</p>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
       AstraZeneca
      </button>
    </h2>
    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
      <div class="accordion-body">
        <h3>COVID19 CERTIFICATE</h3>
        <h3>AstraZeneca</h3>
        <h6>Date:</h6>
        <h6>Time:</h6>
        <br>
        <br>
        <h5>RESULTS</h5>
        <br>
        <br>
        <h5>VACCINE TYPE</h5>
        <br>
        <br>
        <h5>FACILITY</h5>
      </div>
    </div>
  </div>


  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
        Travel Certificates
      </button>
    </h2>
    <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
      <div class="accordion-body">
        <h3>COVID19 CERTIFICATE</h3>
        <h3>SUMMARY</h3>
        <h6>Date:</h6>
        <h6>Time:</h6>
        <br>
        <br>
        <h5>RESULTS</h5>
        <br>
        <br>
        <h5>VACCINE TYPE</h5>
        <br>
        <br>
        <h5>FACILITY</h5>
      </div>
    </div>
  </div>
  </div>
</div>

